@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size:0.8em;
}

.wrapper {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 600px;
    color: #4fa5c2;
    font-weight: 600;
}
.container {
    border: 2px solid #4fa5c2;
    border-radius: 4px;
    background-color: #f9fbfc;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

i {
    color: #f587ac;
}

i:hover {
    color: #4fa5c2;
}

.weather-icon {
    width: 5rem;
}

strong {
    color: #f587ac;
}

.temp-weather strong {
    font-size: 3rem;
    line-height: 1;
}

#city, #temperature {
    color: #f587ac;
    font-size: 3em;
    margin-bottom: 0;
}

#btn-current, #btn-search {
    background: #4fa5c2;
    padding: 10px 0;
    border: none;
    height: 50px;
    width: 80px;
}

#btn-current:hover, #btn-search:hover {
    background-color: #f587ac;
    color: #f9fbfc;
}

.unit {
    background-color: #f9fbfc;
    color: #f587ac;
}
.unit:focus{
    background-color: #f587ac;
    border: 1px solid #f587ac;
}

.unit:hover {
    background-color: #4fa5c2;
    color: #f9fbfc;
    border: 1px solid #4fa5c2;
    transition: 200ms ease-in-out;
}

.list-group-item {
    color: #4fa5c2;
    border: none;
    text-align: center;
    margin: 0 auto;
    display: block;
}

footer p {
    font-size: 10px;
    text-align: center;
}

.github-link, .netlify-link, .linkedin-link, .linkedin-link:hover .netlify-link:hover, .github-link:hover {
    color: #f587ac;
    text-decoration: none;
}

div h5 {
    font-size: 1em;
}

.weather-forecast-icon {
    width: 1.5rem;
}

.weather-forecast{
    text-align: center;
}

.forecast-temperature-min {
    opacity: 0.8;
}
