@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 0.8rem;

}

.wrapper {
    font-family: 'Poppins', sans-serif;
    border: 2px solid;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
    margin: 0 auto;
    max-width: 600px;
    color: #4fa5c2;
    font-weight: 600;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

i {
    color: #f587ac;
}

i:hover {
    color: #4fa5c2;
}

img {
    width: 7vw;
}

strong {
    color: #f587ac;
}

.temp-weather strong {
    font-size: 4rem;
    line-height: 1;
}

#city, #temperature {
    color: #f587ac;
    font-size: 3em;
    margin-bottom: 0;
}

#btn-current, #btn-search {
    background: #4fa5c2;
    padding: 10px 0;
    border: none;
    height: 50px;
    width: 80px;
}

#btn-current:hover, #btn-search:hover {
    background-color: #f587ac;
    color: #f9fbfc;
}

.unit, .unit:focus{
    background-color: #f587ac;
    border: 1px solid #4fa5c2;
}

.unit:hover {
    background-color: #4fa5c2;
    color: #f9fbfc;
    border: 1px solid #4fa5c2;
    transition: 100ms ease-in-out;
}

.list-group-item {
    border: 1px solid #4fa5c2;
    height: 9vh;
    text-align: center;
    margin: 0 auto;
    display: block;
}
